{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: #e1f1f5;
    }
</style>

<nav class="navbar navbar-expand-lg" style="background-color: #b3dbe7;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main:show_main' %}">Ghina27-app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ghina2703/ghina27-app" target="_blank">GitHub</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'main:show_main' %}" method="GET">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<style>
    .navbar-brand {
        font-weight: bold;
    }
    .navbar-nav .nav-link {
        font-weight: bold;
    }
</style>

<div></div>
<div class="container">
    <h1 style="text-align: center;">Selamat Datang di Aplikasi {{ app_name }}</h1>

    <div style="text-align: center;">
        <h4>~ Owner ~</h4>
        <h4>Name:</h4>
        <p>{{ my_name }}</p>

        <h4>Class:</h4>
        <p>{{ my_class }}</p>
        
        <p style="font-weight: bold;">Kamu menyimpan {{ num_items }} item pada aplikasi ini.</p>
    </div>
    
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 {% if forloop.last %}last-row{% endif %}">
            <div class="card mb-4">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description|linebreaks }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Amount:
                        <span>{{ item.amount }}</span>
                        <form method="post" action="{% url 'main:add_item' item.id %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-sm btn-primary ml-2">+</button>
                        </form>
                        <form method="post" action="{% url 'main:reduce_item' item.id %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="reduce">
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-sm btn-danger ml-2">-</button>
                        </form>
                    </li>
                    <li class="list-group-item">Price: {{ item.price }}</li>
                    <li class="list-group-item">Date Added: {{ item.date_added }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'main:edit_item' item.id %}" class="btn btn-primary">Edit</a>
                    <form method="post" action="{% url 'main:delete_item' item.id %}" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'main:create_item' %}" class="btn btn-primary">Add New Item</a>
        <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
    </div>
</div>
<style>
    /* CSS untuk baris terakhir */
    .last-row {
        background-color: #b3dbe7;
    }
</style>


<footer class="text-center text-white" style="background-color: #c2e2ec;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/ghina2703"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/ghina-nabila-bba4b817a/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>

        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/ghina2703/ghina27-app"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <div class="text-center text-dark p-3" style="background-color: #b3dbe7;">
      <p style="font-weight: bold;">Sesi terakhir login: {{ last_login }}</p>
      © 2023 Copyright:
      <a class="text-dark" href="http://ghina-nabila21-tugas.pbp.cs.ui.ac.id">Ghina27-app</a>
    </div>
  </footer>

{% endblock content %}
