{% extends 'base.html' %}
{% block content %}
<head> 
    <title>{{ app_name }}</title>
</head>
<div style="background-color: #aee4e4; padding: 20px;">
    <h1 style="text-align: center;">Selamat Datang di Aplikasi {{ app_name }}</h1>

    <div style="text-align: center;">
        <h4>~ Owner ~</h4>
        <h4>Name:</h4>
        <p>{{ my_name }}</p>

        <h4>Class:</h4>
        <p>{{ my_class }}</p>
        
        <p style="font-weight: bold;">Kamu menyimpan {{ num_items }} item pada aplikasi ini.</p>
    </div>

    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <tr>
            <th style="border: 1px solid #000; padding: 10px;">Name</th>
            <th style="border: 1px solid #000; padding: 10px;">Amount</th>
            <th style="border: 1px solid #000; padding: 10px;">Price</th>
            <th style="border: 1px solid #000; padding: 10px;">Description</th>
            <th style="border: 1px solid #000; padding: 10px;">Date Added</th>
        </tr>
        
        {% for item in items %}
        <tr>
            <td style="border: 1px solid #000; padding: 10px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>{{ item.name }}</div>
                    <form method="post" action="{% url 'main:delete_item' item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <div style="display: flex; align-items: right;">
                            <button type="submit">Delete</button>
                        </div>    
                    </form>
                </div>
            </td>
            
            <td style="border: 1px solid #000; padding: 10px;">
                <div style="display: flex; align-items: center;"> <!-- Menggunakan flexbox untuk mengatur elemen secara horizontal -->
                    <form method="post" action="{% url 'main:reduce_item' item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="reduce">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <button type="submit" style="margin-right: 5px;">-</button> <!-- Margin kanan untuk jarak antara tombol-tombol -->
                    </form>
                    {{ item.amount }}
                    <form method="post" action="{% url 'main:add_item' item.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <button type="submit" style="margin-left: 5px;">+</button> <!-- Margin kiri untuk jarak antara tombol-tombol -->
                    </form>
                </div>
            </td>
    
            <td style="border: 1px solid #000; padding: 10px;">{{ item.price }}</td>
            <td style="border: 1px solid #000; padding: 10px;">{{ item.description|linebreaks }}</td>
            <td style="border: 1px solid #000; padding: 10px;">{{ item.date_added }}</td>
        </tr>
        {% endfor %}
    </table>

    <br />
    
    <div style="text-align: center;">
        <p style="font-weight: bold;">Sesi terakhir login: {{ last_login }}</p>

        <a href="{% url 'main:create_item' %}">
            <button style="background-color: #0080ff; color: #fff; padding: 10px 20px; border: none; cursor: pointer;">
                Add New Product
            </button>
        </a>
        
        <a href="{% url 'main:logout' %}">
            <button style="background-color: #0080ff; color: #fff; padding: 10px 20px; border: none; cursor: pointer;">
                Logout
            </button>
        </a>
    </div>
</div>
{% endblock content %}
